*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body{
    box-shadow: inset 8px 20px 50px rgba(2, 0, 0, 0.1);
}
.container{
    width: 80%;
    margin: auto;
    background-color: #f0f0f0;
}
.mb{
    margin-bottom: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #6e3ffb;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 0 20px;
}
nav li a{
    text-decoration: none;
    font-size: 1vw;
}
nav li a:hover{
    color: #855ff7;
}
.loginhome{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.loginhome a{
    text-decoration: none;
    font-size: 1vw;
    margin-right: 20px;
}
.loginhome a:hover{
    color: #855ff7;
}
.cart i:hover{
    color: #855ff7;
}
.slide{
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.btn_slide-right{
    position: absolute;
    top: 50%;
    font-size: 50px;
    border: none;
    right: 10%;
    transform: translateY(-50%);
    background: none;
}
.btn_slide-left{
    position: absolute;
    top: 50%;
    font-size: 50px;
    border: none;
    left: 10%;
    transform: translateY(-50%);
    background: none;
}
.slide i{
    color: white;
    
}
.slide img{
    width: 80%;
    margin: auto;
    display: flex;
   
}
.list{
    width: 100%;
    background-color: #f0f0f0;
}
.listsp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.pro{
    width: 20%;
    text-align: center;
    position: relative;
}

.list h1{
    font-size: 3vw;
    margin-top: 30px;
}
.pro img{
    width: 100%;
}
.img{
    position: relative;
    width: 100%;
    overflow:hidden;
}
@keyframes quick{
    from{
        bottom: -50px;
    }to{
        bottom: 0;
    }
}
.quickview{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(45, 44, 44);
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1vw;
    opacity: 0;
}
.pro:hover .quickview{
    opacity: 1;
    animation: quick ease 0.3s ;
    cursor: pointer;
}
.name{
    display: block;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
    margin: 10px 10px;

    
}
.price{
    margin-bottom: 10px;
}
@keyframes addbtn {
    from{
        transform: scale(0.9);
    }to{
        transform: scale(1);
    }
}
.add_btn{
    display: flex;
    height: 50px;
    width: 70%;
    background-color: #6e3ffb;
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: 1vw;
    justify-content: center;
    margin: auto;
    opacity: 0;
    cursor: pointer;
}

.pro:hover .add_btn{
    opacity: 1;
    animation: addbtn ease 0.3s;
}
.add_btn:hover{
    background-color: #855ff7;
}
.btn_more{
    display: flex;
    height: 50px;
    width: 300px;
    background-color: #6e3ffb;
    align-items: center;
    font-size: 1vw;
    justify-content: center;
    margin: 30px auto;
}
.btn_more a{
    color: white;
    text-decoration: none;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none ;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -99;
}
.modal_content{
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;
}
.modal_content img{
    width: 50%;
    height: 80%;
    align-self: center;
    position: relative;
}
.detail_pro{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* padding-bottom: 80px; */
}

.namedetail{
    font-size: 1.5vw;
}
.pricedetail{
    color: red;
    font-weight:500;
    margin: 5px 0;
}
.dungluong{
    font-size: 1vw;
}
.description_pro{
    margin: 10px 0;
    width: 80%;
}
.description_pro p{
    font-size: 1vw;
    margin-bottom: 5px;
}
.description_pro table{
    border: gray solid 0.3px;
    border-radius: 10px;
}
.description_pro tr{
    width: 50%;
    height: 50px;
}
.description_pro td{
    padding: 5px;
    color: rgb(71, 71, 71);
}
.tr{
    background-color: rgb(227, 227, 227);
}
.color p{
    font-size: 1vw;
}
.color select{
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.close:hover{
    opacity: 0.5;
}
.boxsp{
    display: flex;
    margin: auto;
    background-color: #fff;
    width: 90%;
    /* height: 600px; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_left{
    height: 600px;
}
.box_left img {
    height: 100%;
}
.box_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.namesp_detail{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
}
.pricesp_detail{
    color: red;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px; 
}
.item{
    margin-bottom: 15px;
}
.item:nth-child(6){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    & .radio{
        display: flex;
        align-items: center;
        & span{
            text-align: center;
        }
        & input{
            width: 20px;
            margin-right: 8px;
        }
    }
}
.item input:hover{
    border: 1px solid #6e3ffb;
}
.item>span{
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    align-items: center;
}
.item input,select{
    height: 35px;
    border: 1px solid gray;
    margin-left: 30 px;
    width: 60%;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}
.dungluong{
    height: 25px;
    font-size: 15px;
    padding: 0 10px;
    background-color: #fff;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 8px;
}
.add_cart{
    background-color: white;
    height: 45px;
    width: 150px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}
.add_cart:hover,.dungluong:hover{
    border: 1px solid #6e3ffb;
    color: #6e3ffb;
}
.buy{
    background-color: #6e3ffb;
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    width: 150px;
    border: 1px solid #6e3ffb;
    border-radius: 10px;
    cursor: pointer;
}
.buy:hover{
    opacity: 0.6;
}
.hr_sp{
    margin: 15px;
    opacity: 0.8;
}
.sp_service{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.item_sevice{
    display: flex;
}
.item_sevice i{
    background-color: #6e3ffb;
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 5px;
}
.share_sp{
    display: flex;
    margin: auto;
}
.share_sp i{
    margin: 0 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.fa-facebook{
    color: blue ;
}
.fa-twitter{
    color: rgb(71, 185, 251);
}
.fa-facebook-messenger{
    color: blue;
}
.descriptione_sp{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.descriptione_sp p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.descriptione_sp table{
    width: 100%;
}
.descriptione_sp table tr{
    height: 30px;
    font-size: 20px;
}
.danhgia{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    & form{
        text-align: center;
        & input[type = text]{
            height: 30px;
            width: 50%;
            border: 1px solid gray;
            border-radius: 10px;
            padding-left: 10px;
        }
        & input[type = text]:focus{
            outline: none;
            border: 1px solid #6e3ffb;
            &::placeholder{
                color: #6e3ffb;
            }
        }
        /* & input[type = text]::placeholder{
            color: #6e3ffb;
        } */
        & input[type = submit]{
            padding: 5px 10px;
            font-size: 15px;
            color: white;
            border: none;
            border-radius: 10px;
            background-color: #6e3ffb;
            cursor: pointer;
        }
        & input[type = submit]:hover{
            opacity: 0.8;
        }
    }
}
.danhgia>p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.person{
    display: flex;
    margin: 10px 0;
}
.danhgia img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    align-self: center;
}
.comment .nameuser{
    font-size: 18px;
    font-weight: 500;
}
.time_phanloai{
    display: flex;
}
.comment .time{
    font-size: 10px;
    margin: 5px 0;
    border-right: 1px solid gray;
    padding-right: 10px;
}
.phanloai{
    font-size: 10px;
    margin: 5px 0;
    padding-left: 10px;
}
.goiy_sp{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.goiy_sp>p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
/* bảng sản phẩm của admin */

.table_pro_admin{
    border: 1px gray solid;
    margin: auto;
}
.table_pro_admin td{
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
.subject_admin{
    display: flex;
    position: relative;
    & h1{
        margin: 20px;
    }
    & a{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        background-color: rgb(2, 232, 113);
        font-size: 18px;
        border-radius: 5px;
        padding: 10px 20px;
        color: white;
        margin: 5px;
        text-decoration: none;
    }
    & a:hover{
        opacity: 0.6;
        cursor: pointer;
    }
}
.btn_add-admin{
    display: block;
    background-color: rgb(2, 232, 194);
    font-size: 18px; 
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 5px;
    text-decoration: none;
}
.btn_dele-admin{
    display: block;
    background-color: red;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.btn_dele-admin:hover , .btn_add-admin:hover{
    opacity: 0.6;
    cursor: pointer;
}
/* form thêm  */
form{
    width: 50%;
    margin: auto;
}
.item_input{
    display: flex;
    justify-content: space-between;
    & input{
        width: 60%;
        height: 25px;
        margin-right: 30px;
        border: solid 1px gray;
        border-radius: 5px;
        padding-left: 10px;
    }
    & textarea{
        display: block;
        margin-right: 30px;
    }
    & input:hover{
        border: solid 1px #855ff7;
    }
    & input:focus{
        border: 1.5px solid #6e3ffb;
        border-radius: 5px;
    }
    & select{
        width: 60%;
        height: 25px;
        margin-right: 30px;
        border: solid 1px gray;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer;
    }
    & select:hover{
        border: solid 1px #855ff7;
    }
}
.btn_form{
    margin: auto;
    text-align: center;
    & input{
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 20px;
        border: none;
        cursor: pointer;
    }
    & input:hover{
        opacity: 0.6;
    }
    & input:nth-child(1){
        background-color: rgb(12, 242, 12);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    & input:nth-child(2){
        background-color: rgb(242, 12, 81);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

}
/* thông báo lỗi trong form */
.error{
    margin-top: 3px;
    height: 20px;
    text-align: center;
    color: red;
    font-size: 10px;
}
/* form tìm kiếm sản phẩm */
.form_search_sp{
    display: flex;
    align-self: center;
    margin: auto;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    & select{
        width: 25%;
        height: 20px;
        font-size: 15px;
    }
    & input[type=text]{
        height: 25px;
        width: 50%;
        border-radius: 10px;
        padding-left: 10px;
        border: 1px solid gray;
    }
    & input[type=submit]{
        border: none;
        border-radius: 10px;
        background-color: #6e3ffb;
        color: white;
        font-size: 15px;
        padding: 5px 10px;
        cursor: pointer;
    }
}
/* cart */
.layout_cart{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none ;
}
.overlay_cart{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -99;
}
.tab_cart{
    background-color: #fff;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    animation: ease 0.3s;
    & .title{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        & p{
            text-align: center;
            justify-self: center;
            color: white;
            font-size: 30px;
            font-weight: 500;
        }
        & i{
            position: absolute;
            top: 5%;
            left: 5%;
            transform: translateY(-50%);
            color: white;
        }
    }
    & .cart_list-sp{
        width: 100%;
        height: 60%;
        overflow:auto;
        & li{
            height: 25%;
            width: 100%;
            list-style: none;
            & .item_cart{
                display: flex;
                width: 100%;
                margin-top: 10px;
                padding-bottom: 15px;
                /* border: red solid 1px; */
                height: 100%;
                border-bottom: gray 1px solid;
                & .fl {
                    flex: 1;
                }
                & item_cart-img{
                    flex: 1;
                }
                & img{
                    padding: 0 10%;
                    height: 100%;
                    margin-right: 10%;
        
                }
                & .cart-sp{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    text-overflow: clip;
                    & p:first-child{
                        font-size: 25px;
                        white-space: nowrap;
                    }
                    & p:last-child{
                        font-size: 20px;
                        font-weight: 700;
                        
                    }
                    & input{
                        width: 20%;
                        padding-left: 5%;
                        border: 1px gray solid;
                        border-radius: 10px;
                        height: 80%;
                    }
                    & input:focus{
                        outline: none;
                        border: 1px solid #6e3ffb;
                    }
                }
                & .btn_remove-cart{
                    background-color: red;
                    border: none;
                    cursor: pointer;
                    color: white;
                    border-radius: 10px;
                    padding: 0 3px;
                    & a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    & .total_cart{
        height: 20%;
        width: 100%;
        background-color: #f0f0f0;
        & .total_cart-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 5%;
            padding-top: 10px ;
            padding-left: 5%;
            & span{
                font-size: 30px;
            }
        }
        & hr{
            margin: 10px 0;
            padding: 0 10px;
        }
        & .btn_more{
            margin: 0 auto;
            width: 200px;
        }
    }
}
/* form login,sign up */
.login{
    margin: auto;
    position: absolute;
    top: 20%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    left: 30%;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #17254e;
    justify-content: space-around;
    border-radius: 20px 50px 20px 50px;
    & .title{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    color: white;
        & h1{
            color: white;
        }
        & a{
            color: white;
        }
    }
    & .input_login{
    height: 40px;
    width: 80%;
     &
    input:first-child{
        margin-top: 30px;
     }
     & input{
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        padding-left: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
     }
    }
    &
    input[type=submit]{
        outline: none;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    &
    a{
        color: white;
        cursor: pointer;
    }
}
.signup{
    margin: auto;
    position: absolute;
    top: 10%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    left: 30%;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #17254e;
    justify-content: space-around;
    border-radius: 20px 70px 20px 70px;
    & .title{
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        color: white;
        &
        h1{
            color: white;
            margin-left: 50%;
        }
        text-align: center;
        /* margin: auto; */
    }
    & .input_signup{
        padding-left: 15%;
        height: 40px;
        width: 80%;
        & input:first-child{
            margin-top: 30px;
         }
        & input{
            width: 100%;
            height: 100%;
            /* margin-bottom: 15px; */
            padding-left: 20px;
            border: none;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
        }
        & .err{
            color: white;
        }
         
        }
        & input[type=submit]{
            outline: none;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
}