*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body{
    box-shadow: inset 8px 20px 50px rgba(2, 0, 0, 0.1);
}
.container{
    width: 80%;
    margin: auto;
    background-color: #f0f0f0;
}
.mb{
    margin-bottom: 40px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #6e3ffb;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 0 20px;
}
nav li a{
    text-decoration: none;
    font-size: 1vw;
}
nav li a:hover{
    color: #855ff7;
}
.loginhome{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.loginhome a{
    text-decoration: none;
    font-size: 1vw;
    margin-right: 20px;
}
.loginhome a:hover{
    color: #855ff7;
}
.cart i:hover{
    color: #855ff7;
}
.presonal i:hover{
    color: #855ff7;
}
.slide{
    width: 100%;
    margin-top: 20px;
    position: relative;
    /* height: 600px; */
    animation: ease 1s;
    /* transition: ease 1s; */
    }
.btn_slide-right{
    position: absolute;
    top: 50%;
    font-size: 50px;
    border: none;
    right: 10%;
    transform: translateY(-50%);
    background: none;
}
.btn_slide-left{
    position: absolute;
    top: 50%;
    font-size: 50px;
    border: none;
    left: 10%;
    transform: translateY(-50%);
    background: none;
}
@keyframes slideleft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.slide {
    animation: ease-in-out 2s;
    transition: ease-in-out 2s;
    overflow: hidden;
}
.slide i{
    color: white;
}
.slide img{
    width: 80%;
    margin: auto;
    display: flex;
    overflow: hidden;
    /* animation: slideleft ease-in-out 1s forwards; */
}

.list{
    width: 100%;
    background-color: #f0f0f0;
}
.listsp{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.pro{
    width: 20%;
    text-align: center;
    position: relative;
}

.list h1{
    font-size: 3vw;
    margin-top: 30px;
    padding-top: 10px;
}
.pro img{
    width: 100%;
    /* height: 200px; */
}
.img{
    position: relative;
    width: 100%;
    overflow:hidden;
}
@keyframes quick{
    from{
        bottom: -50px;
    }to{
        bottom: 0;
    }
}
.quickview{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(45, 44, 44);
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1vw;
    opacity: 0;
}
.pro:hover .quickview{
    opacity: 1;
    animation: quick ease 0.3s ;
    cursor: pointer;
}
.name{
    display: block;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
    margin: 10px 10px;

    
}
.price{
    margin-bottom: 10px;
}
@keyframes addbtn {
    from{
        transform: scale(0.9);
    }to{
        transform: scale(1);
    }
}
.add_btn{
    display: flex;
    height: 50px;
    width: 70%;
    background-color: #6e3ffb;
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: 1vw;
    justify-content: center;
    margin: auto;
    opacity: 0;
    cursor: pointer;
}

.pro:hover .add_btn{
    opacity: 1;
    animation: addbtn ease 0.3s;
}
.add_btn:hover{
    background-color: #855ff7;
}
.btn_more{
    display: flex;
    height: 50px;
    width: 300px;
    background-color: #6e3ffb;
    align-items: center;
    font-size: 1vw;
    justify-content: center;
    margin: 30px auto;
}
.btn_more a{
    color: white;
    text-decoration: none;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none ;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -99;
}
.modal_content{
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;
}
.modal_content img{
    width: 50%;
    height: 80%;
    align-self: center;
    position: relative;
}
.detail_pro{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* padding-bottom: 80px; */
}

.namedetail{
    font-size: 1.5vw;
}
.pricedetail{
    color: red;
    font-weight:500;
    margin: 5px 0;
}
.dungluong{
    font-size: 1vw;
}
.description_pro{
    margin: 10px 0;
    width: 80%;
}
.description_pro p{
    font-size: 1vw;
    margin-bottom: 5px;
}
.description_pro table{
    border: gray solid 0.3px;
    border-radius: 10px;
}
.description_pro tr{
    width: 50%;
    height: 50px;
}
.description_pro td{
    padding: 5px;
    color: rgb(71, 71, 71);
}
.tr{
    background-color: rgb(227, 227, 227);
}
.color p{
    font-size: 1vw;
}
.color select{
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    & i{
        color: black;
    }
}
.close:hover{
    opacity: 0.5;
}
.boxsp{
    display: flex;
    margin: auto;
    background-color: #fff;
    width: 90%;
    /* height: 600px; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 35px;
}
.box_left{
    height: 600px;
    width: 600px;
    padding-right: 23px;
}
.box_left img {
    height: auto;
    width: 600px;
}
.box_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.namesp_detail{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 15px;
}
.pricesp_detail{
    color: red;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px; 
}
.item{
    margin-bottom: 15px;
}
.item:nth-child(6){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
    & .radio{
    display: flex;
    align-items: center;
        &
    span{
            text-align: center;
        }
        &
    input{
            width: 20px;
    margin-right: 8px;
        }
    }
}
.item input:hover{
    border: 1px solid #6e3ffb;
}
.item>span{
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    align-items: center;
}
.item input,select{
    height: 35px;
    border: 1px solid gray;
    margin-left: 30 px;
    width: 60%;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}
.dungluong{
    height: 25px;
    font-size: 15px;
    padding: 0 10px;
    background-color: #fff;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 8px;
}
.add_cart{
    background-color: white;
    height: 45px;
    /* width: 150px; */
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 15px;
}
.add_cart:hover,.dungluong:hover{
    border: 1px solid #6e3ffb;
    color: #6e3ffb;
}
.buy{
    background-color: #6e3ffb;
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    width: 150px;
    border: 1px solid #6e3ffb;
    border-radius: 10px;
    cursor: pointer;
}
.buy:hover{
    opacity: 0.6;
}
.hr_sp{
    margin: 15px;
    opacity: 0.8;
}
.sp_service{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 5%;
}
.item_sevice{
    display: flex;
}
.item_sevice i{
    background-color: #6e3ffb;
    color: #fff;
    height: 20px;
    width: 34px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 5px;
}
.share_sp{
    display: flex;
    margin: auto;
}
.share_sp i{
    margin: 0 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.fa-facebook{
    color: blue ;
}
.fa-twitter{
    color: rgb(71, 185, 251);
}
.fa-facebook-messenger{
    color: blue;
}
.descriptione_sp{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.descriptione_sp p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.descriptione_sp table{
    width: 100%;
}
.descriptione_sp table tr{
    height: 30px;
    font-size: 20px;
}
.danhgia{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    & form{
        text-align: center;
        & input[type = text]{
            height: 30px;
            width: 50%;
            border: 1px solid gray;
            border-radius: 10px;
            padding-left: 10px;
        }
        & input[type = text]:focus{
            outline: none;
            border: 1px solid #6e3ffb;
            &::placeholder{
                color: #6e3ffb;
            }
        }
        /* & input[type = text]::placeholder{
            color: #6e3ffb;
        } */
        & input[type = submit]{
            padding: 5px 10px;
            font-size: 15px;
            color: white;
            border: none;
            border-radius: 10px;
            background-color: #6e3ffb;
            cursor: pointer;
        }
        & input[type = submit]:hover{
            opacity: 0.8;
        }
    }
}
.danhgia>p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.person{
    display: flex;
    margin: 10px 0;
}
.danhgia img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    align-self: center;
}
.comment .nameuser{
    font-size: 18px;
    font-weight: 500;
}
.time_phanloai{
    display: flex;
}
.comment .time{
    font-size: 10px;
    margin: 5px 0;
    border-right: 1px solid gray;
    padding-right: 10px;
}
.phanloai{
    font-size: 10px;
    margin: 5px 0;
    padding-left: 10px;
}
.goiy_sp{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.goiy_sp>p{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
/* bảng sản phẩm của admin */
.count_page{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    & li{
        padding: 10px;
        /* background-color: aqua; */
        margin: 2px;
        cursor: pointer;
        & a{        
            text-decoration: none;
        }
    }
}
.page_active{
    background-color: #855ff7;
    & a{
        text-decoration: none;
        color: white;
    }
}
.table_pro_admin{
    border: 1px gray solid;
    margin: auto;
}
.table_pro_admin td{
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
.subject_admin{
    display: flex;
    position: relative;
    & h1{
        margin: 20px;
    }
    & a{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        background-color: rgb(2, 232, 113);
        font-size: 18px;
        border-radius: 5px;
        padding: 10px 20px;
        color: white;
        margin: 5px;
        text-decoration: none;
    }
    & a:hover{
        opacity: 0.6;
        cursor: pointer;
    }
}
.btn_add-admin{
    display: block;
    background-color: rgb(2, 232, 194);
    font-size: 18px; 
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 5px;
    text-decoration: none;
}
.btn_dele-admin{
    display: block;
    background-color: red;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.btn_dele-admin:hover , .btn_add-admin:hover{
    opacity: 0.6;
    cursor: pointer;
}
/* form thêm  */
form{
    width: 50%;
    margin: auto;
}
.item_input{
    display: flex;
    justify-content: space-between;
    & input{
        width: 60%;
        height: 25px;
        margin-right: 30px;
        border: solid 1px gray;
        border-radius: 5px;
        padding-left: 10px;
    }
    & textarea{
        display: block;
        margin-right: 30px;
    }
    & input:hover{
        border: solid 1px #855ff7;
    }
    & input:focus{
        border: 1.5px solid #6e3ffb;
        border-radius: 5px;
    }
    & select{
        width: 60%;
        height: 25px;
        margin-right: 30px;
        border: solid 1px gray;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer;
    }
    & select:hover{
        border: solid 1px #855ff7;
    }
}
.btn_form{
    margin: auto;
    text-align: center;
    & input{
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 20px;
        border: none;
        cursor: pointer;
    }
    & input:hover{
        opacity: 0.6;
    }
    & input:nth-child(1){
        background-color: rgb(12, 242, 12);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    & input:nth-child(2){
        background-color: rgb(242, 12, 81);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

}
/* thông báo lỗi trong form */
.error{
    margin-top: 3px;
    height: 20px;
    text-align: center;
    color: red;
    font-size: 10px;
}
/* form tìm kiếm sản phẩm */
.form_search_sp{
    display: flex;
    align-self: center;
    margin: auto;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    & select{
        width: 25%;
        height: 25px;
        font-size: 15px;
    }
    & input[type=text]{
        height: 25px;
        width: 50%;
        border-radius: 10px;
        padding-left: 10px;
        border: 1px solid gray;
    }
    & input[type=submit]{
        border: none;
        border-radius: 10px;
        background-color: #6e3ffb;
        color: white;
        font-size: 15px;
        padding: 5px 10px;
        cursor: pointer;
    }
    & input[type=number]{
        height: 25px;
        width: 20%;
        border-radius: 10px;
        padding-left: 10px;
        border: 1px solid gray;
    }
}
/* cart */
.layout_cart{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none ;
}
.overlay_cart{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -99;
}
.tab_cart{
    background-color: #fff;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    animation: ease 3s;
    & .title{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        & p{
            text-align: center;
            justify-self: center;
            color: white;
            font-size: 30px;
            font-weight: 500;
        }
        & i{
            position: absolute;
            top: 5%;
            left: 5%;
            transform: translateY(-50%);
            color: white;
        }
    }
    & .cart_list-sp{
        width: 100%;
        height: 60%;
        overflow:auto;
        & li{
            height: 25%;
            width: 100%;
            list-style: none;
            & .item_cart{
                display: flex;
                width: 100%;
                margin-top: 10px;
                padding-bottom: 15px;
                /* border: red solid 1px; */
                height: 100%;
                border-bottom: gray 1px solid;
                & .fl {
                    flex: 1;
                }
                & item_cart-img{
                    flex: 1;
                }
                & img{
                    padding: 0 10%;
                    height: 80%;
                    margin-right: 10%;
                    margin-top: 10px;
                }
                & .cart-sp{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    text-overflow: clip;
                    & p:first-child{
                        font-size: 20px;
                        white-space: nowrap;
                    }
                    & p:last-child{
                        font-size: 15px;
                        font-weight: 700;
                        
                    }
                    & input{
                        width: 20%;
                        padding-left: 5%;
                        border: 1px gray solid;
                        border-radius: 10px;
                        height: 25%;
                    }
                    & input:focus{
                        outline: none;
                        border: 1px solid #6e3ffb;
                    }
                }
                & .btn_remove-cart{
                    background-color: red;
                    border: none;
                    cursor: pointer;
                    color: white;
                    border-radius: 10px;
                    padding: 26px 3px;
                    height: 78%;
                    & a{
                        color: white;
                        text-decoration: none;
                    }
                    align-self: center;
                }
            }
        }
    }
    & .total_cart{
        height: 20%;
        width: 100%;
        background-color: #f0f0f0;
        & .total_cart-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 5%;
            padding-top: 10px ;
            padding-left: 5%;
            & span{
                font-size: 30px;
            }
        }
        & hr{
            margin: 10px 0;
            padding: 0 10px;
        }
        & .btn_more{
            margin: 0 auto;
            width: 200px;
        }
    }
}
/* form login,sign up */
.login{
    margin: auto;
    position: absolute;
    top: 20%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    left: 30%;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #17254e;
    justify-content: space-around;
    border-radius: 20px 50px 20px 50px;
    & .title{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-left: 10%;
        & h1{
            color: white;
        }
        & a{
            color: white;
            text-decoration: none;
        }
    }
    & .input_login{
    height: 40px;
    width: 80%;
    margin-left: 10%;
    & input:first-child{
        margin-top: 30px;
     }
    & input{
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        padding-left: 20px;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
     }
    & .err_login{
        color: white;
    }
    }
    & input[type=submit]{
        outline: none;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    & a{
        color: white;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
}
.signup{
    margin: auto;
    position: absolute;
    top: 10%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    left: 30%;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #17254e;
    justify-content: space-around;
    border-radius: 20px 70px 20px 70px;
    & .title{
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        color: white;
        &
        h1{
            color: white;
            margin-left: 50%;
        }
        text-align: center;
        /* margin: auto; */
    }
    & .input_signup{
        padding-left: 15%;
        height: 40px;
        width: 80%;
        & input:first-child{
            margin-top: 30px;
         }
        & input{
            width: 100%;
            height: 100%;
            /* margin-bottom: 15px; */
            padding-left: 20px;
            border: none;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
        }
        & .err{
            color: white;
        }
         
        }
        & input[type=submit]{
            outline: none;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
}
/* bill */
.address{
    margin: 20px;
    background-color: white;
    padding: 28px 30px 24px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    & p{
        padding-left: 20px;
        margin-bottom: 3px;
    }
    & h3{
        color: #6e3ffb;
        margin-bottom: 5px;
    }
    & .address-name,.tel-bill{
        font-weight: 500;
        font-size: 16px;
    }
    & .location{
        font-size: 15px;
        margin-bottom: 5px;
    }
    & div{
        font-weight: 300;
        color: #6e3ffb;
        cursor: pointer;
    }
}
.bill{
    margin: 20px ;
    background-color: white;
    padding: 28px 30px 24px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    & .bill-header{
        display: flex;
        align-items: center;
        & :nth-child(4),:nth-child(2),:nth-child(3){
            color: gray;
            display: flex;
            justify-content: center;
        }
    }
    & .bill-pro{
        margin-top: 5px;
        & .bill-pro-item{
            display: flex;
            margin: 10px 0;
            & div{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & :nth-child(1){
                justify-content: left;
                & img{
                    margin-right: 5px;
                }
            }
    
        }
    }
    
}
.bill-total{
    margin: 20px ;
    background-color: white;
    padding: 28px 30px 24px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    & .method-pay{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: dashed 1px gray;
        & :nth-child(1){
            font-weight: 500;
        }
        & :nth-child(2){
            font-size: 13px;
        }
    }
    & .total-bill{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        & .total-bill-title{
            font-weight: 500;
        }
        & .detail-total{
            & .bill-price-pro,.bill-ship,.bill-detail-total{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                & p{
                    font-size: 13px;
                }
            }
            & .bill-detail-total{
                align-items: center;
                & :nth-child(2){
                    color: #6e3ffb;
                    font-size: 25px;
                }
            }
        }
    }
    & .btn_more{
        width: 200px;
        font-size: 20px;
    }
}
.modal_content-address{
    height: 60%;
    width: 25%;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 37.5%;
    border-radius: 30px;
    & .address-header{
        height: 10%;
        /* padding: 20px */
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 20px;
        & .address-title{
            font-weight: 500;
        }
        & button{
            background: #6e3ffb;
            outline: none;
            border: none;
            padding: 5px 10px;
            color: white;
            border-radius: 10px;
            cursor: pointer;
        }

    }
    & .address-list{
        height: 80%;
        overflow: auto;
        & .address-item{
            display: flex;
            justify-content: space-between;
            margin: 20px 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(228, 227, 227);
        }
        & .address-item-left{
            display: flex;
            align-items: center;
            & .address-item_cicrle{
                height: 15px;
                width: 15px;
                border: 1px gray solid;
                margin-right: 10px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                & .address-item_cicrle-checked{
                    height: 6px;
                    width: 6px;
                    background-color: #6e3ffb;
                    border-radius: 100%;
                }
            }
        }
        & .address-item-right{
            color: #6e3ffb;
            font-size: 15px;
            cursor: pointer;
        }
    }
    & .address-btn{
        box-shadow: 0px -1px 2px rgb(188, 186, 186);
        display: flex;
        align-items: center;
        justify-content: center;
        & button{
            border: none;
            border-radius: 10px;
            background-color: none;
            margin: 0 30px;
            font-size: 15px;
            font-weight: 500;
            margin-top: 7px;
            padding: 5px 10px;
        }
        & :nth-child(1){
            background-color: white;
            border: 1px gray solid;
            cursor: pointer;
        }
        & :nth-child(2){
            border: none;
            border-radius: 10px;
            margin: 0 30px;
            font-size: 15px;
            font-weight: 500;
            margin-top: 7px;
            padding: 5px 10px;
            background-color: #6e3ffb;
            color: white;
            cursor: pointer;
        }
    }
}
.modal_content-add{
    height: 60%;
    width: 25%;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 37.5%;
    border-radius: 30px;
    & .address-add_title{
        height: 15%;
        padding-top: 30px;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid rgb(187, 186, 186);
    }
    & form{
        margin: 15px;
        /* padding: 20px 30px; */
        width: 80%;
        & .address-add_item{
            & input{
                margin: 10px;
                height: 40px;
                padding-left: 20px;
                border-radius: 10px;
                border: 1px solid gray;
                width: 100%;
            }
        }
        & :nth-child(3){
            & input{
                height: 60px;
            }
        }
        & .check_default{
            display: flex;
            align-items: center;
            height: 40px;
                & input{
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }
        }
        /* button{
            font-size: 15px;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            margin-left: 70px;
            cursor: pointer;
        } */
        /* & :nth-child(5){
            font-size: 15px;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            margin-left: 70px;
            cursor: pointer;
            border: 1px solid gray;
            background-color: white;
        } */
        & .btn_modal_content-add{
            display: flex;
            & .back-address1,.back-address2{
                width: 22%;
                font-size: 15px;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                margin-left: 70px;
                cursor: pointer;
                border: 1px solid gray;
                background-color: white;
            }
            & :nth-child(2){
                font-size: 15px;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                margin-left: 70px;
                cursor: pointer;
                background-color: #6e3ffb;
                color: white;
            }
            
        }
    }
}
/* info user */
.info_user{
    display: flex;
    gap: 10px;
    & .left_info{
        padding: 20px;
        flex: 2;
        /* background-color: aqua; */
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
        & .left_info-info{
            display: flex;
            gap: 15%;
            border-bottom: 1px solid gray;
            padding-bottom: 15px;
            margin-bottom: 20px;
            padding-top: 26px;
            &
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            & div{
                & .left_info-name{
                    font-size: 18px;
                    font-weight: 500;
                }
                & a{
                    font-size: 15px;
                    font-weight: 300;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
        & .left_info-account{
            margin-bottom: 20px;
            & div{
                font-size: 18px;
                margin-bottom: 10px;
                cursor: pointer;
            }
            & ul{
                margin-left: 20%;
                list-style: none;
                cursor: pointer;
                & li{
                    margin: 5px;
                    font-size: 16px;
                }
                & li:hover{
                    color: #6e3ffb;
                }
            }
        }
        & .left_info-orders{
            margin-bottom: 20px;
            font-size: 18px;
            cursor: pointer;
        }
        & .left_info-orders:hover .left_info-orders>p{
            color: #6e3ffb;
        }
        & .left_inof-vouchers{
            font-size: 18px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        & .left_inof-vouchers:hover .left_info-orders>p{
            color: #6e3ffb;
        }
    }
    & .right_info{
        margin: 20px;
        flex: 8;
        background-color: #fff;
    }
    & .right_info-info{
        padding: 10px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
        
        & .right-info_header{
            border-bottom: 1px solid rgb(181, 181, 181);
            padding: 10px;
            padding-top: 0;
            & h1{
                padding-bottom: 5px;
            }
        }
        & .right-info_body{
            padding-top: 30px;
            & form{
                width: 80%;
                & .right-info_item{
                    display: flex;
                    padding: 15px;
                    gap: 20%;
                    & p{
                        flex: 2;
                        float: right;
                    }
                    & input{
                        flex: 4;
                        float: left;
                        width: 22%;
                        height: 40px;
                        border-radius: 10px;
                        padding-left: 20px;
                        border: 1px gray solid;
                    }
                }
                & .right-info_item-sex{
                    display: flex;
                    & p{
                        flex: 2;
                        float: right;
                    }
                    & div{
                        flex: 4;
                        float: left;
                        align-items: center;
                        display: flex;
                        & input{
                            float: none;
                            height: 20px;
                            padding-right: 20px;
                        }
                    }
                }
                & input[type='submit']{
                    border: none;
                    color: #fff;
                    width: 30%;
                    cursor: pointer;
                    font-size: 18px;
                }
                & input[type='submit']:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    & .right_info-address{
        display: none;
        & .right_info-address_content{
            & .address-header{
                height: 10%;
                /* padding: 20px */
                /* margin-bottom: 20px; */
                border-bottom: 1px solid gray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 20px;
                padding-bottom: 20px;
                & .address-title{
                font-weight: 500;
                font-size: 30px;
                }
                &
                button{
                    background: #6e3ffb;
                outline: none;
                border: none;
                padding: 5px 10px;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                }
            }
            & .address-list{
                height: 80%;
                overflow: auto;
                & .address-item{
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 10px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgb(228, 227, 227);
                    padding-left: 20px;
                }
                & .address-item-left{
                    display: flex;
                    align-items: center;
                    & .address-item_cicrle{
                        height: 15px;
                        width: 15px;
                        border: 1px gray solid;
                        margin-right: 10px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & .address-item_cicrle-checked{
                            height: 6px;
                            width: 6px;
                            background-color: #6e3ffb;
                            border-radius: 100%;
                        }
                    }
                }
                & .btn-update_address{
                    & .address-item-right{
                        color: #6e3ffb;
                        font-size: 15px;
                        cursor: pointer;
                        padding: 5px;
                    }
                }
            }
        }
    }
    & .right_info-orders{
        display: none;
        & .right-info_header{
            border-bottom: 1px solid rgb(181, 181, 181);
            padding: 10px;
            padding-top: 0px;
            margin: 10px;
            h1{
                padding-bottom: 5px;
            }
        }
        & .list_orders{
            margin: 20px;
            & .oder_item{
                & .total_bill{
                    text-align: center;
                    font-size: 20px;
                    color: #6e3ffb;
                    margin: 20px;
                    width: 100%;
                }
                & .detail_order{
                    width: 200px;
                    color: white;
                    cursor: pointer;
                    text-decoration: none;
                }
                
                margin: 10 20px;
                border-bottom: 1px solid gray;
                & .order_item-id{
                    padding: 10px;
                    border-bottom: 1px dotted rgb(198, 198, 198);
                }
                & .order_item_listpro{
                    padding-top: 10px;
                    & .bill-header {
                        display: flex;
                        align-items: center;
                        & :nth-child(4),:nth-child(2),:nth-child(3){
                            color: gray;
                            display: flex;
                            justify-content: center;
                        }
                    }
                    & .bill-pro-item{
                        display: flex;
                        margin: 10px 0;
                        & div{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        & :nth-child(1){
                            justify-content: left;
                            & img{
                                margin-right: 5px;
                            }
                        }
                
                    }
                    
                }
            }
        }
    }
}
/* tracking order */
#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #6e3ffb;
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: 18px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159);
}

#progressbar #step1:before {
    content: "";
    color: #6e3ffb;
    width: 5px;
    height: 5px;
    margin-left: 0px !important;
    /* padding-left: 11px !important */
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-left: 32%;
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 32% ; 
    /* padding-right: 11px !important */
}

#progressbar #step4:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important;
    /* padding-right: 11px !important */
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
}

#progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 1px;
    z-index: 1;
}
.progress-track{
    padding: 0 8%;
}
#progressbar li:nth-child(2):after {
    margin-right: auto;
}

#progressbar li:nth-child(1):after {
    margin: auto;
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
}
#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
}

#progressbar  li.active{
    color: black;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #6e3ffb;
}

/* nút thêm form trong thêm mới và cập nhật sản phẩm  */
.add_form_info{
    color: #6e3ffb;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid gray;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 15px;
}
.btn_add_input{
    
    color: #6e3ffb;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
}
/* form verify */
.title_form{
    align-items: center;
    margin: 30px;
    padding-top: 50px;
    margin-top: 0;
}
.form_verify{
    text-align: center;
    & input[type = text],input[type = password]{
        height: 60px;
        border: 1px solid gray;
        border-radius: 30px;
        outline: none;
        width: 60%;
        padding-left: 30px;
    }
    & input[type = submit]{
        display: flex;
        height: 50px;
        width: 200px;
        background-color: #6e3ffb;
        align-items: center;
        font-size: 1vw;
        justify-content: center;
        margin: 30px auto;
        border: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
}